<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1041555161991-mn0p51hk166galkovlfpbgb5rls2nh5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041555161991-mn0p51hk166galkovlfpbgb5rls2nh5n</string>
	<key>API_KEY</key>
	<string>AIzaSyDvyVJvjrdrB-RnFKqDYV_ls7wd5vgBiLo</string>
	<key>GCM_SENDER_ID</key>
	<string>1041555161991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.media.awesome.100</string>
	<key>PROJECT_ID</key>
	<string>vrcandy-54f4c</string>
	<key>STORAGE_BUCKET</key>
	<string>vrcandy-54f4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041555161991:ios:62f535e0f3677b60</string>
	<key>DATABASE_URL</key>
	<string>https://vrcandy-54f4c.firebaseio.com</string>
</dict>
</plist>